// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$colour-list: (
  hol   #4281A4,
  sick  #FE938C,
  wfh   #9CAFB7
);

table {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
table tbody tr.warning {
  background-color: #ffcccc;
}
table th {
  font-size: 16px;
  color: #555555;
  padding-bottom: 20px;
  font-weight: 500;
}
table td {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  padding-bottom: 10px;
  line-height: 35px;
  vertical-align: middle;
  color: #555555;
}

.header {
  padding-top: 37px;
}

#wallchart-container {
  white-space: nowrap;
  display: inline-block;
}

#wallchart-container table {
  width: auto !important;
  border-collapse: separate;
}

.wallchart-container tbody td {
  height: 30px;
  max-height: 30px;
  text-align: center;
  cursor: pointer;
}
.wallchart-container th {
  text-align: center;
  width: 30px;
}
.wallchart-container td {
  line-height: 16px !important;
  padding-bottom: 0 !important;
}
.days-container table td span {
  position: relative;
  z-index: 998;
  background: transparent;
  display: block;
  text-align: center;
  height: 15px;
  max-height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  left: 7px;
}
.days-container {
  vertical-align: top;
}
.wallchart-container tr {
  padding-bottom: 15px;
}
.wallchart-container tr.header td {
  height: 65px;
}
table th.person {
  height: 65px;
  text-align: left;
  font-weight: 400;
}
.day-header {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  color: #555555;
  padding-bottom: 0px;
  font-weight: 400;
  width: 30px;
  height: 30px;
  position: relative;
}

.wallchart-container .days-container table td {
  width: 15px !important;
  min-width: 15px !important;
  max-width: 15px !important;
  height: 30px;
  font-size: 12px;
  position: relative;
}

@each $item in $colour-list {
	.#{nth($item, 1)} {
		background-color: nth($item, 2);
	}
	.#{nth($item, 1)}-am {
    &:before {
      border-top: 30px solid nth($item, 2);
      border-right: 30px solid transparent;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
    }
  }
	.#{nth($item, 1)}-pm {
    &:after {
      border-bottom: 30px solid nth($item, 2);
      border-left: 30px solid transparent; 
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.dayCell {
  padding: 0 !important;
}
.dayCellMarker {
}
.weekend {
  background-color: #e4e3e4;
}
