<div class="page-header">
  <h3>{{ daysInMonth }}</h3>
  <div class="form-group">
    <label for="month">Month:</label>
    <select class="form-control" id="month" ng-options="index*1 as month for (index, month) in monthList" ng-model="currentMonth" ng-change="refreshView(currentMonth)">
    </select>

    <label for="year">Year:</label>
    <select class="form-control" id="year">
      <option value="2017">2017</option>
    </select>
  </div>
  <div class="table-responsive">
  <table class="table table-bordered table-calendar">
    <thead>
    <tr>
      <th></th>
      <th ng-repeat="day in days">{{ day }}</th>
    </tr>
    </thead>
    <tr ng-repeat="employee in employees | orderBy:'name'">
      <th>{{ employee.name }}</th>
      <td ng-repeat="day in days" class="dayCell" ng-class="getDayCellClass(day)">
        <div class="dayCellMarker" ng-class="getDayCellMarkerClass(employee.absences, day)">&nbsp;</div>
      </td>
    </tr>
  </table>
  </div>
</div>
