<div class="page-header">
  <h3>{{ daysInMonth }}</h3>
  <div class="form-group">
    <label for="month">Month:</label>
    <select class="form-control" id="month" ng-options="index*1 as month for (index, month) in monthList" ng-model="currentMonth" ng-change="refreshView(currentMonth)">
    </select>

    <label for="year">Year:</label>
    <select class="form-control" id="year">
      <option value="2017">2017</option>
    </select>
  </div>

  <div id="wallchart-container">
    <table class="wallchart-container">

      <thead>
        <tr class="header">
          <td></td>
          <td>
            <table class="wallchart-header">
              <tr>
                <th class="day-header" ng-repeat="day in days">{{ day }}</th>
              </tr>
            </table>
          </td>
        </tr>
      
      </thead>

      <tbody id="users-container">
      
        <tr class=user-list"" ng-repeat="employee in employees | orderBy:'name'">
          <th class="person">{{ employee.name }}</th>
          <td class="days-container">
            <table>
              <tr>
                <td class="am" ng-repeat-start="day in days"><span>{{ day }}</span></td>
                <td class="pm" ng-repeat-end></td>
              </tr>
            </table>
          </td>
        </tr>

      </tbody>

      <tfoot></tfoot>
    </table>
  </div>

</div>
